body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.black-bkg {
  /*
  background-color: black;
  color: white;
  */
}

.game-main-screen {
  padding: 15px;
  /*
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  */
}

.top-bar-stats {
  /*
  width: 100%;
  max-width: 1200px;
  top:0;
  left:0;
  right:0;
  */
  height: 45px;
  background-color: grey;
  clear: both;
  padding-top : 5px;
}

.top-bar-stats > div {
  float: left;
}

.top-bar-stats > div {
  width: 30%;
}

.top-bar-stats .time {
  padding-left : 10px;
  line-height: 30px;
  color: white;
}

.top-bar-stats .time .progress {
  width: 100%;
  background-color: red;
  height: 2px;
  animation: 5s linear 0s infinite time-progress;
}

@keyframes time-progress { from { width: 0%; } to { width: 100%; }  }

.top-bar-stats .time .progress.fill {
}

.top-bar-stats .bar-container {
  background-color: black;
  height: 30px;
  padding: 2px;
  width: 80%;
}

.top-bar-stats .bar-container .bar-fill {
  height: 30px;
}

.top-bar-stats .bar-container .bar-text {
  line-height: 30px;
  text-align:center;
  padding: 2px;
  color: white;
}

.top-bar-stats .oxygen-bar-container {
}

.top-bar-stats .oxygen-bar-container .oxygen-bar-fill {
  background-color: blue;
}

.top-bar-stats .hunger-bar-container {
  right: 10px;
}

.top-bar-stats .hunger-bar-container .hunger-bar-fill {
  background-color: red;
}

.block {
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  margin-bottom: 4px;
}

.block .price{
  font-size: small;
}

.activity {
}

.activity:hover {
  background-color: lightgrey;
}

.activity.disabled {
  background-color: grey;
}

.activity.selected {
  border: 2px blue solid;
}

.explain {
  font-style: italic;
  font-size: small;
}

.building {
}

.building.can-build {
  background-color: white;
  border: 1px solid blue;
}

.building.built {
  background-color: white;
}

.can-do {
  cursor: pointer;
}

.cant-do {
  cursor: not-allowed;
}

.has-done {
  cursor: default;
}

.need-wait {
  cursor: wait;
}

.craftable {
}

.craftable.can-craft {
  border: 1px solid blue;
  background-color: white;
}

.craftable.crafted {
  border: 1px solid black;
  background-color: white;
}

table.resources {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

table.resources td {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

table.resources .rname {
  text-align: left;
}

table.resources .rqty {
  text-align: right;
  float: right;
}

table.bonuses {
  width: 100%;
}

table.bonuses td {
  width:30%;
  padding: 20px;
  margin:20px;
}

table.bonuses td:hover {
  background-color: lightcoral;
}

table.bonuses .bonus-label {
  font-weight: bold;
}


table.bonuses .bonus-description {
  font-style: italic;
}

.bonuses-container .bonus-container button {
}


.half {
  width: 50%;
  float: left;
}

.half .container {
  padding: 10px;
}

.half.half-left {
}

.half.half-right {
}

.achievements {
  margin-left: 15%;
  margin-right: 15%;
}

.achievement {
  clear: both;
  height: 30px;
  line-height: 30px;
}

.achievement.done {
  background-color: lightgrey;
}

.achievement.done span {
  text-decoration: line-through;
}

.achievement .label {
  float:left;
}

.achievement .reward {
  float:right;
}

.button {
  background-color: purple;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.small-button {
  padding: 8px;
  font-size: medium;
}

.medium-button {
  padding: 20px;
  width: 30%;
  font-size: large;
}
.big-button {
  padding: 40px;
  width: 90%;
  font-size: xxx-large;
}

.home-screen {
  text-align: center;
}

.help-button {
  position: fixed;
  top: 0;
  right:0;
  border: 1px solid black;
  background-color: purple;
  color: white;
  padding: 5px;
  cursor: pointer;
  z-index: 88;
}
.help {
  position: fixed;
  overflow-y: scroll;
  top:0;
  background-color: white;
  top: 20px;
  max-width: 1200px;
  padding-left:50px;
  padding-right:50px;
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid black;
  text-align: center;
}

.tab {
  border: 1px solid black;
  padding: 20px;
  cursor: pointer;
  width: 200px;
  float: left;
  margin-right: 50px;
}

.tab-container {
  margin-left: 50px;
}

.tab-selected {
  background-color: purple;
  color:white;
}
